$util.qr($context.stash.put("userId", $context.identity.username ))
$util.qr($context.stash.put("tenantId", $context.identity.claims.get("custom:TENANT_HASH") ))

#set ( $userGroups = $ctx.identity.groups)
#if( !$userGroups.contains("TenantAdmin"))
    $util.error("User is not authorized to upate status!")
#end

{}