#set( $tenant_HASH = $ctx.identity.claims.get("custom:TENANT_HASH"))
{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "deleteTeam",
        "arguments":  $utils.toJson($context.arguments),
        "tenantHash": $utils.toJson($tenant_HASH),
        "user": $util.toJson($ctx.identity.username)
    }
}