#set( $tenant_HASH = $ctx.identity.claims.get("custom:TENANT_HASH"))
{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key": {
        "pk" : $util.dynamodb.toDynamoDBJson($tenant_HASH),
        "sk" : $util.dynamodb.toDynamoDBJson($ctx.args.id)
    }
}