#set( $tenant_HASH = $ctx.identity.claims.get("custom:TENANT_HASH"))
#set( $requester = $ctx.identity.username )
{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "field": "getAgentsTasks",
        "arguments":  $utils.toJson($context.arguments),
        "tenantHash": $utils.toJson($tenant_HASH),
        "agentID": $util.toJson($requester)
    }
}