$extensions.setSubscriptionFilter({
    "filterGroup": [
        {
           "filters" : [
                {
                    "fieldName" : "agentID",
                    "operator" : "contains",
                    "value" : $ctx.args.agentID
                }
           ]
           
        }
    ]
})
$util.toJson($context.result)